<!-- Main layout from mini project-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Whisper&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <title>Quotely!</title>
</head>

<body>
  <div>
    <header>
      <h1>
        <a href="/">QUOTELY</a>
      </h1>
      <nav>
        <ul>
            <li><a href="/">Home</a></li>
            {{#if logged_in}}
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a id="logout" href="/">Logout</a></li>
            {{else}}
                <li><a href="/login">Sign In</a></li>
            {{/if}}
        </ul>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
      <aside>
        {{#if logged_in}}
        <h3><!--Some how inject the users name and a welcome message or something--></h3>
        {{else}}
        <h3>Sign up to save your favorite quotes!</h3><!--or something like that -->
        {{/if}}
      </aside>
    </main>
    <footer>
      <p class="font-whisper"> Follow us for more! </p>
    </footer>
  </div> 

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>