<section>

  <div id="likeModal" class="modal">
  <p>Added to Dashboard!</p>
    </div>
    <h1>Welcome to the Quotes Collection</h1>
    <ul>
        {{#each quotes}}
            <li class="caveat-medium">{{this.quote}} - <strong>{{this.author}}</strong></li>
        {{/each}}
    </ul>

</section>  