.caveat-medium {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 30px;
  color: white;
  font-style: normal;
}

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}


header {
  background-color: rgb(233, 221, 206);
  color: #b5a1a1;
  padding: 1em 0;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px;
}

body {
  margin: 20px;
  padding: 25px;
  background-color: #c1b6b6;
}

h1 {
  font-family: "Special Elite", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: medium;
  font-size: 36px;
  color: white;
  text-align: center;

}

h2 {
  font-family: "Special Elite", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: medium;
  font-size: 30px;
  color: black;
  text-align: center;
  background-color: rgb(233, 221, 206);
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

.btn-primary {
  background-color: rgb(233, 221, 206);
  color: black;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px;
  font-family: "Special Elite", cursive;
  font-size: 18px;
}

.btn-primary:hover {
  background-color: black;
  color: white;
  border: 2px solid black;
}

label {
  font-family: "Special Elite", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: medium;
  font-size: 18px;
  color: black;
  text-align: center;
  background-color: rgb(233, 221, 206);
  border-bottom: black 2px solid;
}

.headline {
  font-family: "Special Elite", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: medium;
  font-size: 24px;
  color: black;
  text-align: center;

}

a {
  text-decoration: none;
  color: black;
}

h3 {
  font-family: "Special Elite", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: medium;
  font-size: 24px;
  color: black;
  text-align: center;
  background-color: rgb(233, 221, 206);
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
}

footer {
  background-color: rgb(233, 221, 206);
  color: purple;
  padding: 10px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px;
  font-family: "Caveat", cursive;
  font-size: 30px;
}

button {
  background-color: rgb(233, 221, 206);
  color: black;
  padding: 10px;
  border: 2px solid black;
  border-radius: 10px;
  margin: 16px;
  font-family: "Special Elite", cursive;
  font-size: 16px;

}
/* style.css code fomr mini project
body {
    margin: 0;
    padding: 0;
    background-color: #b5a1a1;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
  }
  
  header {
    background-color: #bca3be;
    color: white;
    padding: 1em 0;
    text-align: center;
  }
  
  header h1 {
    margin: 0;
  }
  
header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .no-button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: #9b9d9e;
    text-decoration: none;
    font-size: 100%;
  }
  
  .no-button:hover {
    color: #2b2e2f;
    text-decoration: underline;
  }
  
 */